/* 
Why are you looking at my source code for css??? 
Anyways dm me on twitter @dankravec if you see this
Have a nice day :)
*/
:root {
    /* MAIN ROOT ONLY */
    font-size: 16px;
    --transition-speed: 250ms ease;
    /* Main Backgrounds (x1) */
    --main-body-color: rgb(28, 28, 30);     
    /* Button Backgrounds (x2) */
    --main-button-color: rgb(44, 44, 46);
    --main-nav-color: rgb(44, 44, 46);
    --hover-button-color: rgb(60,60,60);
    --hover-nav-color: rgb(60,60,60);
    /* shadow Colors (x3) */
    --main-shadow-color: 0px 0px 15px rgba(17, 17, 18, 0.9);
    --navbar-box-shadow:  
        rgb(0, 0, 0) 12px 12px 15px,
        rgb(0, 0, 0) 12px 12px -15px, 
        rgb(0, 0, 0) 12px -12px 15px, 
        rgb(0, 0, 0) 12px -12px -15px;
    --nav-link-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.56) ;
    /* Border Colors (x2) */
    --main-border-color:rgb(107, 107, 107);
    --hover-border-color: rgba(39, 113, 240, 0.9);
    /* Border Divider (x2) */
    --main-divider: 2px solid #bbb;
    /* Text Colors (x6) */
    --hover-box-text-color: rgb(209, 209, 209);
    --main-h1-color: #e6e6e6; 
    --main-h2-color: #d4d4d4; 
    --main-a-color: rgb(218, 218, 218); 
    --main-p-color: rgb(201, 201, 201); 
    --fa-secondary-colour:  rgb(184, 184, 184);;
    /* OLD ROOTS (x3)
    --main-nav-color: #2e2e2e; 
    --menu-hover-color: rgb(87, 87, 87);
    --nav-border-color: 1px solid rgba(148, 148, 148, 0.9);
    --sidebar-divider: 2px solid rgb(58, 58, 58);
    */
}
/*Change view*/
*, *::before, *::after {
    margin: 0px;
    padding: 0px;
}
html {
    font-family: "Helvetica neue", sans-serif;
    scroll-behavior: smooth;
}
html,body {
    margin: 0;
    width: 100%;
}
body {
    color: black;
    margin: 0;
    padding: 0;
    background-color: var(--main-body-color);
    min-width: 412px;
}
main {
    margin-left: 5rem;
    padding: 1rem;
}

/* NAVIGATION */
.navbar {
    z-index: 100;
    position: fixed;
    background-color:  var(--main-nav-color);
    transition: width 300ms ease;
    box-shadow: 
       var(--navbar-box-shadow);
}
.navbar-nav {
    z-index: 100;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
} 
.nav-item {
    width: 100%;
}
.nav-item:last-child {
    margin-top: auto;
    transform: rotate(0deg);
}
.nav-item:last-child svg {
    transition: var(--transition-speed);
    transform: rotate(0deg);
}
.navbar-expanded .nav-item:last-child svg{
    transform: rotate(-180deg);
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--main-a-color);
    text-decoration: none;
    transition: var(--transition-speed);
}
.nav-link:hover { 
    background-color: var(--hover-nav-color);
    color: var(--hover-box-text-color);
    box-shadow: var(--nav-link-shadow)
}
.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}
.link-text {
    display: none;
    margin-left: 1rem;
}
.fa-primary { 
    color: var(--hover-border-color);
}
.fa-secondary { 
    color: var(--fa-secondary-colour);
}
.fa-primary, .fa-secondary { 
    transition: var(--transition-speed);
}
/* SMALL SCREEN*/
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        border-top: 2px solid var(--main-border-color);
    }
    .svg-image {
        width: 5rem;
    }
    .expanding-button {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
    }
    .end-page-padding {
        padding-bottom: 5.5rem;
    }
    .logo p {
        text-align: center;
        font-size: 25px;
        color: var(--main-h2-color);
    }
}
/* BIG SCREENS */
@media only screen and (min-width: 601px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        border-right: 2px solid var(--main-border-color);
    }
    .navbar-expanded {
        width: 13rem;
    }
    .main-content-expanded {
        margin-left: 13rem;
    }
    .navbar-expanded .navbar {
        width: 15rem;
    }
    .navbar-expanded .navbar .link-text{
        display: inline;
        transition: opacity var(--transition-speed);   
    }
    .navbar-expanded .link-text {
        display: block;
    }
    .navbar-expanded .svg-image {
        width: 5rem;
    }
    .end-page-padding {
        padding-bottom: 20px;
    }
}
.spacer20 {
    padding: 20px
}
.logo {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.logo img {
    padding-top: 15px;
    padding-bottom: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.logo .img-other {
    padding-top: 15px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.logo p {
    text-align: center;
    font-size: 30px;
    color: var(--main-h2-color);
}
/* ABOUT */
.home-about {
    text-align: left;
    font-size: 15px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20px;
}
/* DIVIDER */
hr.rounded {
    border: var(--main-divider);
    border-radius: 2px;
    margin: 20px; 
}

/* OLD NAVIGATION (HEADER)
body {
    background-color: var(--main-body-color);
}
.nav {
    z-index: 15;
    position: fixed;
    height: 100%;
    width: 160px;
    top: 0;
    left: 0;
    background-color: var(--main-nav-color);
    overflow-x: hidden;
    border-bottom: var(--nav-border-color);
    box-shadow: 
        var(--main-shadow-color);
}
.menu {
    margin:0 0 0 0; 
}
.menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: var(--main-a-color);
    display: block;
}
.menu-header {
    font-size: 15px;
    color: red;
    text-align: center;
    line-height: 50px;
    padding: 6px 16px 6px 16px;
    background-color: var(--main-nav-color);
    user-select: none;
}
.sub-menu {
    margin:0 0 0 0; 
}
.sub-menu p {
    padding: 6px 8px 6px 16px;
    color: var(--main-p-color);
    font-size: 12px;
}
.spacer {
    margin-top: 15px;
}
.sub-menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: var(--main-a-color);
    display: block;
}
.sub-menu a:hover {
    color: var(--menu-hover-color);
}
.menu a:hover {
    color: var(--menu-hover-color);
}
a.menu-active {
    color: red;
}
.nav label {
    font-size: 70px;
    color:var(--main-p-color);
    font-size: 26px;
    display: none;    
    width: 30px;
    float: right;
}
#toggle {
    display: none;
}
.content {
    margin-left: 160px;
}
@media (max-width: 580px) {
    .nav label {
        display: block;
        cursor: pointer;
    }
    .nav {
        position: fixed;
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        border-bottom: var(--main-border-color);
    }
    .navigation-pages {
        visibility: hidden;
    }
    .menu-header {
        font-size: 18px;
        color: red;
        text-align: center;
        line-height: 40px;
        user-select: none;
    }
    .content {
        margin-left: 0px;
    }
    #toggle:checked + .menu-header {
        height: 100%;
        visibility: visible;
    }
    #toggle:checked + .nav {
        height: 100%;
        background-color: var(--main-nav-color);
    }
    .nav {
        width: 40px;
        border-right: white;
    }
    .content {
        margin-left: 40px;
    }
    .navigation-pages {
        width: 40px;
        visibility: hidden
    }
    #toggle:checked + .menu {
        display: block;
    }
    #toggle:checked + .nav {
        display: hidden;
    }
}
    */


.center_div {
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    color: var(--main-p-color);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}