:root {
    /* MAIN ROOT ONLY */
    font-size: 16px;
    --transition-speed: 250ms ease;
    /* Main Backgrounds (x1) */
    --main-body-color: rgb(28, 28, 30);     
    /* Button Backgrounds (x2) */
    --main-button-color: rgb(44, 44, 46);
    --main-nav-color: rgb(44, 44, 46);
    --hover-button-color: rgb(60,60,60);
    --hover-nav-color: rgb(60,60,60);
    /* shadow Colors (x3) */
    --main-shadow-color: 0px 0px 15px rgba(17, 17, 18, 0.9);
    --navbar-box-shadow:  
        rgb(0, 0, 0) 12px 12px 15px,
        rgb(0, 0, 0) 12px 12px -15px, 
        rgb(0, 0, 0) 12px -12px 15px, 
        rgb(0, 0, 0) 12px -12px -15px;
    --nav-link-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.56);
    /* Border Colors (x2) */
    --main-border-color:rgb(107, 107, 107);
    --hover-border-color: rgba(39, 113, 240, 0.9);
    /* Border Divider (x2) */
    --main-divider: 2px solid #bbb;
    /* Text Colors (x6) */
    --hover-box-text-color: rgb(209, 209, 209);
    --main-h1-color: #e6e6e6; 
    --main-h2-color: #d4d4d4; 
    --main-a-color: rgb(218, 218, 218); 
    --main-p-color: rgb(201, 201, 201); 
    --fa-secondary-colour:  rgb(184, 184, 184);;
}
.buttonStyle2 {
    background-color: rgb(44, 44, 46, 0.95);
    border:none;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;   
    padding: 20px;
    background-color: var(--hover-border-color);
    box-shadow: 0 5px 0 rgba(9, 74, 186, 0.9);
    transition: transform 0.1s ease-out;
}
.buttonStyle2:active {
    box-shadow: none;
    transform: translateY(5px);
}
.pointerCursor {
    cursor: pointer;
}
a {
    color: var(--main-p-color)
}
h1 {
    color: var(--main-h1-color)
}
h2 {
    color: var(--main-h1-color)
}
*, *::before, *::after {
    margin: 0px;
    padding: 0px;
}
html {
    font-family: "Helvetica neue", sans-serif;
    scroll-behavior: smooth;
}
html,body {
    margin: 0;
    width: 100%;
}
body {
    color: black;
    margin: 0;
    padding: 0;
    background-color: var(--main-body-color);
    padding-bottom: 20px;
}
.main-header {
    -webkit-user-select: none;
    user-select: none;
    cursor:default;
    margin-left: 0rem;
    text-align: center;
    align-items: center;
    display: block;
    z-index: 20px;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(44, 44, 46, 0.95);
    width: 100%;
    border-bottom: 2px solid var(--main-border-color);
}
.possibleFeeds {
    position: relative;
    text-align: center;
    z-index: 20px;
    /*padding: 20px;*/
    padding-top: 1rem;
    height: 3rem;
    font-size: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(44, 44, 46, 0.95);
    /*width: 100%;*/
    border-bottom: 2px solid var(--main-border-color);
}
.possibleFeeds .buttonStyled {
    -webkit-user-select: none;
    user-select: none;
    cursor:pointer;
    border:none;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    height: 1rem;
    /*padding-top: 20px;*/
    text-decoration: none;  
}

.possibleFeeds .buttonStyled:hover {
   color: var(--hover-border-color);
}
p {
    color: var(--main-p-color)
}
.buttonStyled {
    text-decoration: none;
    cursor: pointer;
    color: var(--main-p-color);
    user-select: none;
}
.activeFeed{
    color: var(--hover-border-color);
}
.spacer_2px {
    padding: 2px;
}
.spacer {
    padding: 5px;
    background-color: red;
}
.debug {
    display: none;
}
.debug-shown {
    display:block;
}
.ownUser-style {
    color: rgb(81, 144, 251);
}
.otherUser-style {
    color: rgb(146, 146, 146)
}
.menu {
    background-color:  var(--main-button-color);
    border: 2px solid var(--main-border-color);
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    text-decoration: none;
    color: var(--main-a-color);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 
        var(--main-shadow-color);
    transition: transform 400ms, border-color 400ms, background-color 400ms;
}
.menu-style {
    background-color:  var(--main-button-color);
}
.menuButton {
    background-color:  var(--main-button-color);
    border: 2px solid var(--main-border-color);
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    text-decoration: none;
    color: var(--main-a-color);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 
        var(--main-shadow-color);
    transition: transform 400ms, border-color 400ms, background-color 400ms;
}
.nav { 
    background-color: rgb(44, 44, 46, 0.95);
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid rgba(39, 113, 240, 0.9);
    top: 0;
    position: fixed;
    display: block;
    text-align: center;
    height: 40px;
}
.nav .buttonStyled {
    background-color: rgb(44, 44, 46, 0.95);
    border:none;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
}
.nav .buttonStyled:hover {
    color:rgba(39, 113, 240, 0.9);
}
/* NAVIGATION */
.navbar {
    z-index: 100;
    position: fixed;
    background-color:  var(--main-nav-color);
    transition: width 300ms ease;
    box-shadow: 
       var(--navbar-box-shadow);
}

.navbar-nav {
    z-index: 100;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
} 
.nav-item {
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
}
.material-symbols-outlined {
    -webkit-user-select: none;
    user-select: none;
}
.nav-item:last-child {
    margin-top: auto;
    transform: rotate(0deg);
}
.nav-item:last-child .nav-button {
    transition: var(--transition-speed);
    transform: rotate(0deg);
}
.navbar-expanded .nav-item:last-child .nav-button{
    transform: rotate(-180deg);
}
.navigation-style {
    color: var(--main-a-color);
}
.navigation-style.nav-link:hover {
    color: var(--hover-box-text-color);
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}
.nav-link:hover { 
    background-color: var(--hover-nav-color);
    box-shadow: var(--nav-link-shadow)
}
.nav-link .nav-button {
    font-size: 2rem;
    margin: 0 1.5rem;
}
/* modal styling */ 
.modalContainer {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
}
.modalContainer.showModal {
    pointer-events: auto;
    opacity: 1;
}
.modal {
    background-color: var(--main-button-color);
    border-radius: 15px;
    border: 2px solid rgba(39, 113, 240, 0.9);
    box-shadow: var(--main-shadow-color);
    padding: 20px;
    width: 60%;
    /*max-height: 50%;*/
    max-width: 100%;
    min-width: 40%;
    text-align: center;
    position: fixed;
    /*overflow-wrap: break-word;*/
    /*word-wrap: break-word;*/
    /*margin-left: 20%;
    margin-top: 20px;*/
    text-decoration: none;
    color: var(--main-a-color);
    /*padding: 15px;*/
    box-shadow:
        var(--main-shadow-color);
    transition: transform 400ms, border-color 400ms, background-color 400ms;
}
.modal .buttonStyled {
    background-color:  var(--main-button-color);
    border: 2px solid var(--main-border-color);
    overflow-wrap: break-word;
    /*margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;*/
    text-decoration: none;
    color: var(--main-a-color);
    text-align: center;
    /*padding: 15px;*/
    border-radius: 15px;
    box-shadow: 
        var(--main-shadow-color);
    transition: transform 400ms, border-color 400ms, background-color 400ms;    
}
.modalContainer .buttonStyled:hover {
    border-color:rgba(39, 113, 240, 0.9);
}
.modal h1 {
    font-size: 30px;
}
.modal p {
    font-size: 15px;
}

/* SMALL SCREEN*/
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        border-top: 2px solid var(--main-border-color);
    }
    .svg-image {
        width: 5rem;
    }
    .expanding-button {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
    }
    .end-page-padding {
        padding-bottom: 7rem;
    }
    .logo p {
        text-align: center;
        font-size: 25px;
        color: var(--main-h2-color);
    }
    .mainArea {
        margin-left: 0rem;
        padding: 0rem;
    }
    .main-header .navbar-expanded{
        margin-left: 0rem;
    }
    .possibleFeeds .navbar-expanded{
        margin-left: 0rem;
    }
}
/* BIG SCREENS */
@media only screen and (min-width: 601px) {
    .mainArea {
        margin-left: 5rem;
    }
    .main-content-expanded .mainArea {
        margin-left: 0rem;
    }
    .main-header {
        margin-left: 0rem;
    }
    .possibleFeeds {
        margin-left: 0rem;
    }
    /*.possibleFeeds .buttonStyled:first-child {
        margin-left: 5rem;
    }*/
    .main-content-expanded .main-header {
        margin-left: 0rem;
    }
    .main-content-expanded .possibleFeeds {
        margin-left: 0rem;
    }
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
        border-right: 2px solid var(--main-border-color);
    }
    .navbar-expanded {
        width: 13rem;
    }
    .main-content-expanded {
        margin-left: 13rem;
    }
    .navbar-expanded .navbar {
        width: 15rem;
    }
    .navbar-expanded .navbar .link-text{
        display: inline;
        transition: opacity var(--transition-speed);   
    }
    .navbar-expanded .link-text {
        display: block;
    }
    .end-page-padding {
        padding-bottom: 20px;
    }
    .nav-link {
        transition: var(--transition-speed);
    }
    .fa-primary, .fa-secondary { 
        transition: var(--transition-speed);
    }
}
.link-text {
    display: none;
    margin-left: 1rem;
}
.fa-primary { 
    color: var(--hover-border-color);
}
.fa-secondary { 
    color: var(--fa-secondary-colour);
}
.activeNav {
    color:red;
}
.top-page-padding {
    padding-top: 30px;
}
button {
    all: unset;
}
/* DIVIDER */
hr.rounded {
    border: var(--main-divider);
    border-radius: 2px;
    margin: 20px;
    margin-left: 20%; 
    margin-right: 20%; 
}
.blur {
    color: transparent;
    text-shadow: 0 0 8px rgb(134, 36, 36);
    cursor: pointer;
    user-select: none;
}
.profileUserHtmlLarge {
    width: 200px;
}
