.search {
    background-color:  var(--main-button-color);
    border: 2px solid var(--main-border-color);
    overflow-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    /*
        display: inline-block;
    */
    text-decoration: none;
    color: var(--main-a-color);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 
        var(--main-shadow-color);
    transition: transform 400ms, border-color 400ms, background-color 400ms;
}
.search input {
    color: var(--main-a-color);
    width: 90%;
    background-color:  var(--main-button-color);
    outline: none;
    border: none;
}
.publicPost {
    background-color:  var(--main-button-color);
    border: 2px solid var(--main-border-color);
    overflow-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    /*
    display: inline-block;
    */
    text-decoration: none;
    color: var(--main-a-color);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 
        var(--main-shadow-color);
    transition: transform 400ms, border-color 400ms, background-color 400ms;
}

.mainButton {
    display: inline-block;
}

.mainButtons .buttonStyled {
    background-color:  var(--main-button-color);
    border: 2px solid var(--main-border-color);
    word-wrap: normal;
    display: block;
    margin: 10px;
    text-decoration: none;
    color: var(--main-a-color);
    text-align: center;
    padding: 15px;
    border-radius: 15px;  
    box-shadow: 
        var(--main-shadow-color);
    transition: transform 400ms, border-color 400ms, background-color 400ms;
}

.signInDiv .buttonStyled {
    background-color:  var(--main-button-color);
    border: 2px solid var(--main-border-color);
    overflow-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: var(--main-a-color);
    text-align: center;
    padding: 15px;
    border-radius: 15px;  
    box-shadow: 
        var(--main-shadow-color);
    transition: transform 400ms, border-color 400ms, background-color 400ms;
}
.mainNameEasterEgg {
    background-color:  var(--main-button-color);
    border: 2px solid var(--main-border-color);
    overflow-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    /*
    display: inline-block;
    */
    text-decoration: none;
    color: var(--main-a-color);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 
        var(--main-shadow-color);
    transition: transform 400ms, border-color 400ms, background-color 400ms;
}
.mainNameEasterEgg .buttonStyled {
    background-color:  var(--main-button-color);
    border: 2px solid var(--main-border-color);
    overflow-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    /*
    display: inline-block;
    */
    text-decoration: none;
    color: var(--main-a-color);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 
        var(--main-shadow-color);
    transition: transform 400ms, border-color 400ms, background-color 400ms;
}

.postTextArea {
    width: 70%;
    height: 400px;
    background-color: var(--main-body-color);
    color: var(--main-p-color);
    padding: 10px;
    font-size: 16px;
}