.team-people {
    color: var(--main-p-color);
    display: grid; 
    align-content: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.team-person {
    background-color: #2b2b2e;
    text-align: center;
    border-radius: 60px;
    font-size: 12px;
    color: #E6E6E6;
    display: inline-block;
    margin: 40px;
    height: 250px;
    padding: 20px;
    width: 250px;
    outline-color: #6b6b6b;
    border: 5px solid #6e6e6e;
}

.danAss {
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

.samAss {
    position: relative;
    grid-column: 2;
    grid-row: 1;
}

.leoAss {
    position: relative;
    grid-column: 3;
    grid-row: 1;
}

.syrxAss {
    position: relative;
    grid-column: 1;
    grid-row: 2;
}

.flavioAss {
    position: relative;
    grid-column: 2;
    grid-row: 2;

}

/* .louieAss {
    position: absolute;
    top: 600px ;
    left: 1250px ;
} */

img {
    width: 200px;
    border-radius: 60px;
    padding-top: 15px;
}

/* STAFF PAGES STYLES */

.staffPage {
    position: relative;
    top: 50px ;
    left: 750px ;
}

.p1Staff {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    color: #E6E6E6;
}

.goBack {
    position: relative;
    top: 50px ;
    left: 850px ;
    background-color: #2b2b2e;
    text-align: center;
    border-radius: 60px;
    font-size: 8px;
    color: #E6E6E6;
    display: inline-block;
    height: 40px;
    padding-top: 20px;
    width: 100px;
    outline-color: #6b6b6b;
    border: 5px solid #6e6e6e;
}